    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    h1 {
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
p {
    background-color: aquamarine;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    display: inline-flex;
    text-decoration: none;
    background-color: chartreuse;
    height: 200px;
    width: 20%;
    padding: 20px;
    border: 5px solid red;
    

}
    ol li {
    background-color: rgb(85, 85, 174);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    margin-top: 5px;

}